# This notebook is for "Segmenting and Clustering Toronto Neighbourhoods"

In [36]:
#Import libraries
import pandas as pd

### Read HTML file into a Pandas Data Frame

In [44]:
# Read the HTML file into a Pandas data frame
a = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M', header=0)

# Create the initial dataframe
df = pd.DataFrame(data = a[0])
df.rename(columns={"Postal Code":"PostalCode"}, inplace=True)
df.head()

  PostalCode           Borough              Neighbourhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

### Ignore cells where Borough is "Not Assigned"

In [45]:
df = df[(df.Borough != "Not assigned")]
df.head()

  PostalCode           Borough                                Neighbourhood
2        M3A        North York                                    Parkwoods
3        M4A        North York                             Victoria Village
4        M5A  Downtown Toronto                    Regent Park, Harbourfront
5        M6A        North York             Lawrence Manor, Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

### Combine all Neighbourhoods for each Postal Code

In [46]:
df_grp = pd.DataFrame(df.groupby(["PostalCode","Borough"])["Neighbourhood"].apply(lambda x: ", ".join(x))).reset_index()
df_grp.head()

  PostalCode      Borough                           Neighbourhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

### Assign Borough to Neighbourhood whereever Neighbourhood is "Not assigned"

In [42]:
df_grp.loc[df_grp.Neighbourhood == "Not assigned", "Neighbourhood"] = df_grp.Borough
df_grp[df_grp.Neighbourhood == "Not assigned"].head() ##No rows should be displayed

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

In [48]:
df_grp.head()

  PostalCode      Borough                           Neighbourhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

### Number of Rows in Final Data Frame

In [51]:
df_grp.shape

(103, 3)